*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding-top: 72px;
}
/* Header */
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    color: #141D22;
}
.navbar{
    margin: .75rem 0px .7rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px ;
}
a{
    color: #000;
    text-decoration: none;
}
.logoandnav{
display: flex;
justify-content: space-between;
gap: 5rem;
}
.logo{
    padding-left: .5rem;
    margin-top: .5rem;
    margin-left: 1rem;
}
.hero{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: .7rem;
    font-family:sans-serif;
    font-size: medium;
    font-weight: 30;
}
.users{
 display: flex;
 align-items: center;
 justify-items: space-between;
 gap: 20px; 
 padding-right: 10px;
}
.btn{
    border: none;
    cursor: pointer;
      justify-content: space-between;
    gap: 10rem;
}
.Register{
    background-color: gold;
    padding: 14px 20px;
    border-radius: 3px;
    font-family:sans-serif;
    font-size: large;
}
.Sign-In{
      padding: 14px 20px;
    border-radius: 3px;
    font-family:sans-serif;
    font-size: large;
}
.crane{
    display: flex;
    flex-direction: row;
}
.world-icon{
    border: none;
    height: 25px;
    width: 25px;
}
.lang{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left: 7px;
}
.champ{ 
    text-align: center;
    margin-top: 150px;
}
.article1{
    color: #141D22;
    font-size: 56px;
    display: block;
    font-family: sans-serif;
    font-weight: 549;
}
.aside1{
    margin-top: 6.5px;
    font-size: 20px;
    color: rgb(80, 80, 80);
    display: block;
    font-family: sans-serif;
}
.users2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 20px;
}
.Demo{
     padding: 14px 20px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: large;
}
/* Line and clown */
.line{
    margin: 8.5rem 5.5rem 2rem 5.5rem;
    background-color: darkgray;
    padding: .5px .2px;
    border-radius: 2px;
}
.clown{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(80, 80, 80);
    justify-content: space-between;
    padding: 0rem 7rem;
    margin-bottom: 2rem;
}
/* Blue box */
.joker{
    margin-top: 1rem;
    padding: 128px 84px 128px;
    background-color: #070E20;
}
.So{
    margin: 0px 250.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.how{
    font-size: 40px;
    color: white;
    margin: .5px 0px 30px;
}
.does{
    font-size: 18px;
    color: #EDF0F299;
}
.he{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 20px;
}
.c{
    padding: 18px 60px;
    border-radius: 3px;
    background-color: rgb(80, 80, 80);
}
/* Special features */
.smile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.lol{
    /* float: left; */
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    margin: 1.5in 0in;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
}
.iphone{
    /* position: fixed; */
    padding: 35px 0px 75px;
    width: 361px;
    height: 608px;
}
.He{
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    margin: 1.5in 0in;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
}
.smile h3{
    color: white;
}
.smile p{
    color: #EDF0F299;
}
/* Asset table */
.Does{
font-size: 15px;
}
.not{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 2.85in; 
    margin: 3rem 1.8rem 1rem;
    color: darkgray;
}
.Smile{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   gap: 1.5in;
}
.line2{
    margin: 1rem 1rem 1rem 1rem;
    background-color: darkgray;
    padding: .5px .2px;
    border-radius: 2px;
}
.Joker{
    margin-left: 25px;
    display: flex;
}
.laughs{
     border: none;
    height: 35px;
    width: 35px;
    margin: 6px 6px;
    align-items: center;
    justify-self: center;
}
.instead{
    display: flex;
    flex-direction: row;
    /* gap: 5px; */
     gap: 1.24in; 
    margin: orem 1.8rem 1rem;
    color: darkgray;
    align-items: center;
}
.Joker h3{
    color: white;
    margin-bottom: 3px;
}
.Joker p{
    color: #EDF0F299;
    margin-top: 3px;
}
.and{
display: flex;
flex-direction: row;
   justify-content: space-between;
   gap: 1.15in;
   color: white;
}
.sometimes{
    margin-left: 1.3in;
    display: flex;
    justify-content: space-between;
    gap: 0.6in;;
}
.users3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 20px;
}
.Register2{
    padding: 8px 24px;
}
.Demo2{
     padding: 14px 20px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: large;
    background-color: #6C859529;
    color: #EDF0F2;
}
/* whitebox */
.it{
    margin: 120px 84px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.feels{
   height: 566.5px;
   width: 566.5px;
   border-radius: 8px;
   float: left;
   margin-right: 10px;
}
.exactly{
    display: flex; 
    flex-direction: column;
    margin: 120px 0px 24px;
    justify-content: space-between;
    padding-bottom: 70px;
}
.like{
    display: flex; 
    flex-direction: column;
    gap: 30px;
}
.heis{
    height: 80px;
    width: 80px;
}   
p{
    font-size: 18px;
    font-family: sans-serif;
    color: #141D22;
}
.just{
    display: flex;
    flex-direction: column;
    color: darkgray;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    gap: 5px;
    list-style: none;
}
.just a:hover{
    border-bottom: #070E20 .5px;
    color: #070E20;
}
/* Second blue box */
.shedding{
    margin: 120px 0px 120px;
    padding: 55px 0px 55px 84px;
    background-color:  #070E20;
    display: flex;
    flex-direction: row;
}
.mocking{
    padding: 70px 0px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tears{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    color: #EDF0F2;
}
.hysterically{
    size: auto;
}
/* Keep up + Article */
.with{ 
    margin-bottom: 70px;
}
.only{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.only article{
    color: #141D22;
    font-size: 32px;
    font-family: sans-serif;
}
.only aside{
    margin-bottom: 19.5px;
    font-size: 20px;
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}
.a-drop{
    margin-top: 2in;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 210px;
}
.heroic{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.of{
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
    width: 86%;
    z-index: 10;  
   background-color: #070E20;
   padding: 40px 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 80px;
   border-radius: 5px;
   align-items: center;
   font-family: sans-serif;
}
.a-drop li{
    color: #141D2299;
    margin: 0px 86px 4px 86px;
    padding: 0px 0px 0px 8px;
    text-align: justify;
    list-style: none;
    font-size: smaller;
    font-weight: 60;
    line-height: 15px;
}
sup{
    margin-right: 6px;
}
.emotions{
    font-size: 50px;
    display: block;
    margin-left: 94px;
}
.without{
    margin: 45px 94px 40px;
    display: flex;
    gap: 38px;
}
.the{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #141D2299;
    font-size: 14px;
}
.accompanied{
    font-weight: bold;
    color: #141D22;
    font-size: 16px;
}
.cry{
    margin: 120px 94px 40px;
}
.that,.itis{
    color: #141D2299;
    font-size: 14px;
    margin: 14px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    line-height: 20px;
}
.shows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cry ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    text-decoration: underline;
    margin: 10px 0px;
    font-size: 14px;
    filter: contrast(17.09);
    font-weight:lighter;
    line-height: 10px;
}
.cry ul:hover{
    cursor: pointer;
}
.shows a{
    color: #141D22;
    font-family: sans-serif;
}
.nothing{
    margin-top: 48px;
    margin-left: 94px;
}

/* Sign up page */
.signup-page .Register{
    display: none;
}
.signin-page .Sign-In{
    display: none;
}
.my-form{
    padding: 20px;
}
.SUform{
    padding-bottom: 15px;
}






